.page-404 {
    &__inner {
        margin: 100px 0 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        @extend %roboto-700;
        font-size: 48px;
        line-height: 52px;
        color: #28384f;
        margin-bottom: 30px;
    }
    &__text {
        max-width: 460px;
        margin-bottom: 50px;
    }
    &__btn {
        @extend %accent-btn;
        padding: 15px 35px;
    }
}




@media (max-width: 1230px) {
    .page-404__inner img {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .page-404 {
        &__inner {
            margin: 70px 0;
            img {
                display: none;
            }
        }
    }
}