.blog {
    margin-bottom: 160px;

    &__inner {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 105px;
            height: 105px;
            background-image: url(../../img/decor/blog-before.svg);
            background-repeat: no-repeat;
            background-size: cover;
            top: 50%;
            left: -175px;
            transform: translateY(-50%);
        }

        &::after {
            content: '';
            position: absolute;
            width: 105px;
            height: 105px;
            background-image: url(../../img/decor/blog-after.svg);
            background-repeat: no-repeat;
            background-size: cover;
            bottom: -100px;
            right: -190px;
        }

        display: flex;
        justify-content: space-between;
    }

    &__item {
        border: 1px solid #e8e8e8;
        width: 370px;
        transition: all .3s;
        position: relative;

        &:hover {
            border-color: transparent;
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
        }

        &:last-child {
            &::after {
                content: '';
                position: absolute;
                width: 126px;
                height: 53px;
                background-image: url(../../img/decor/blog-item-after.svg);
                background-size: cover;
                background-repeat: no-repeat;
                top: -25px;
                right: -25px;
                z-index: -1;
            }
        }
    }

    &__item-content {
        padding: 25px 30px;
    }

    &__item-title {
        @extend %roboto-400;
        color: $title-color;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    &__item-link {
        transition: all .2s;

        &:hover {
            color: $accent-color;
        }
    }
}





@media (max-width: 1575px) {
    .blog {
        &__inner {
            &::before {
                left: 0;
                top: -70px;
            }

            &::after {
                right: 0;
                bottom: -115px;
            }
        }
    }
}

@media (max-width: 1250px) {
    .blog {
        &__inner {

            &::before,
            &::after {
                display: none;
            }
        }

        &__item {
            &:last-child {
                &::after {
                    right: -10px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .blog {
        &__inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 50px;
        }

        &__item {
            width: auto;
        }

        &__item-content {
            padding: 20px;
        }

        &__item img {
            width: 100%;
            height: 290px;
        }
    }
}

@media (max-width: 768px) {
    .blog {
        margin-bottom: 115px;
        &__inner {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item img {
            height: 320px;
        }
    }
}

@media (max-width: 620px) {
    .blog {
        margin-bottom: 70px;
    }
}

@media (max-width: 450px) {
    .blog {
        &__item img {
            height: 250px;
        }
    }
}