.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        align-items: flex-end;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        margin-left: 35px;
    }
    &__list-link {
        color: $title-color;
        @extend %quicksand-400;
        text-transform: uppercase;
        transition: all .2s;
        &:hover {
            color: $accent-color;
        }
    }
    &__list-link--active {
        color: $accent-color;
        border-bottom: 1px solid $accent-color;
    }
}

.user-nav {
    display: flex;
    &__link {
        position: relative;
    }
    &__link + .user-nav__link {
        margin-left: 25px;
    }
    &__num {
        position: absolute;
        right: -10px;
        top: -7px;
        font-size: 12px;
        line-height: 12px;
        padding: 3px 5px;
        border-radius: 50%;
        background-color: $accent-color;
        color: #fff;
    }
}