.modal {
    max-width: 570px;
    margin: 120px auto;
    &__links {
        text-align: center;
        margin-bottom: 50px;
        a + a {
            margin-left: 50px;
        }
    }
    &__link {
        @extend %roboto-400;
        font-size: 22px;
        text-transform: uppercase;
        color: #909090;
    }
    &__link--active {
        color: $accent-color;
    }
    &__label {
        display: block;
        margin-bottom: 30px;
    }
    &__input {
        display: block;
        width: 100%;
        margin-top: 10px;   
        border: none;
        background-color: $bg;
        height: 60px;
        padding: 0 15px;
    }
    &__btn {
        display: block;
        background-color: $title-color;
        border: none;
        color: #fff;
        @extend %roboto-400;
        text-transform: uppercase;
        width: 100%;
        cursor: pointer;
        padding: 14px 0;
    }
    &__lost {
        margin-top: 12px;
        color: $accent-color;
        display: inline-block;
    }
    &__text {
        margin-bottom: 30px;
    }
}