<section class="blog">
    <div class="container">
        <h3 class="title blog__title">From Our Blog</h3>
        <p class="text blog__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodmoe tempor incididunt ut labore et dolore aliqua.
        </p>
        <div class="blog__inner">
            <div class="blog__item">
                <a href="#" class="blog__item-img">
                    <img src="../img/blog/1.jpg" alt="image">
                </a>
                <div class="blog__item-content">
                    <div class="blog__item-info">
                        <div class="blog__item-author">By Admin</div>
                        <div class="blog__item-date">10 January, 2020</div>
                    </div>
                    <h5 class="blog__item-title">
                        Our Apps User Use Mobile On His Mobile
                    </h5>
                    <a href="#" class="blog__item-link">
                        Read More →
                    </a>
                </div>
            </div>
            <div class="blog__item">
                <a href="#" class="blog__item-img">
                    <img src="../img/blog/2.jpg" alt="image">
                </a>
                <div class="blog__item-content">
                    <div class="blog__item-info">
                        <div class="blog__item-author">By Admin</div>
                        <div class="blog__item-date">10 January, 2020</div>
                    </div>
                    <h5 class="blog__item-title">
                        Our Apps User Use Mobile On His Mobile
                    </h5>
                    <a href="#" class="blog__item-link">
                        Read More →
                    </a>
                </div>
            </div>
            <div class="blog__item">
                <a href="#" class="blog__item-img">
                    <img src="../img/blog/3.jpg" alt="image">
                </a>
                <div class="blog__item-content">
                    <div class="blog__item-info">
                        <div class="blog__item-author">By Admin</div>
                        <div class="blog__item-date">10 January, 2020</div>
                    </div>
                    <h5 class="blog__item-title">
                        Our Apps User Use Mobile On His Mobile
                    </h5>
                    <a href="#" class="blog__item-link">
                        Read More →
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>