<section class="contacts">
    <div class="container">
        <div class="contacts__map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d68409.16321304065!2d-74.00652132981307!3d40.73372203476359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2z0K3QvNC_0LDQudGALdGB0YLQtdC50YIt0LHQuNC70LTQuNC90LM!5e0!3m2!1sru!2sru!4v1692808267902!5m2!1sru!2sru"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contacts__inner">
            <div class="contacts__content">
                <h2 class="contacts__title">
                    Feel Free Don’t
                    Hesitate To
                    Contact With Us
                </h2>
                <p class="contacts__text">
                    Lorem ipsum dolor sit amet, consectetur adingn elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo maecnaacnrao cumsan
                    lacus vel facilisis.
                </p>
                <div class="contacts__techs">
                    <div class="contacts__phones">
                        <a href="tel:+01234567896" class="contacts__phone"> +0-123-456-7896
                        </a>
                        <a href="tel:+01234567896" class="contacts__phone">
                            +0-123-456-7896
                        </a>
                    </div>
                    <div class="contacts__adress">
                        Ranlon Market 789 Road,
                        Market Street, Newyork
                    </div>
                    <div class="contacts__emails">
                        <a href="mailto:yourmailaddress@gmail.com" class="contacts__email">
                            yourmailaddress@gmail.com
                        </a>
                        <a href="mailto:companymail@gmail.com" class="contacts__email">
                            companymail@gmail.com
                        </a>
                    </div>
                </div>
            </div>
            <form class="contacts__form" action="#">
                <h5 class="contacts__form-title">Contact Form</h5>
                <div class="contacts__form-inputs">
                    <input placeholder="Your Name" class="contacts__form-input" type="text">
                    <input placeholder="Your E-mail Address" class="contacts__form-input" type="email">
                </div>
                <input placeholder="Subject" class="contacts__form-input" type="text">
                <textarea placeholder="Message here" class="contacts__form-textarea"></textarea>
                <button class="contacts__form-btn" type="submit">SEND MESSAGE</button>
            </form>
        </div>
    </div>
</section>