<div class="promo">
    <div class="container">
        <div class="promo__inner">
            <div class="promo__content">
                <p class="promo__subtitle">Style Fashion</p>
                <h3 class="promo__title title">DEAL OF THE DAY</h3>
                <div class="promo__timer">
                    <div class="promo__timer-block">
                        <div class="promo__timer-content">
                            <span id="days">28</span>
                            Days
                        </div>
                    </div>
                    <div class="promo__timer-block">
                        <div class="promo__timer-content">
                            <span id="hours">28</span>
                            Hours
                        </div>
                    </div>
                    <div class="promo__timer-block">
                        <div class="promo__timer-content">
                            <span id="minutes">28</span>
                            Minutes
                        </div>
                    </div>
                    <div class="promo__timer-block">
                        <div class="promo__timer-content">
                            <span id="seconds">28</span>
                            Seconds
                        </div>
                    </div>
                </div>
                <a href="#" class="promo__link">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>
<div class="partners">
    <div class="container">
        <ul class="partners__list">
            <li class="partners__item">
                <img src="../img/partners/1.png" alt="image">
            </li>
            <li class="partners__item">
                <img src="../img/partners/2.png" alt="image">
            </li>
            <li class="partners__item">
                <img src="../img/partners/3.png" alt="image">
            </li>
            <li class="partners__item">
                <img src="../img/partners/4.png" alt="image">
            </li>
            <li class="partners__item">
                <img src="../img/partners/5.png" alt="image">
            </li>
            <li class="partners__item">
                <img src="../img/partners/6.png" alt="image">
            </li>
        </ul>
    </div>
</div>