<section class="shop">
    <div class="container">
        <div class="shop__inner">
            <div class="shop__filters filter">
                <div class="filter-search filter__item">
                    <h3 class="filter__title">Search</h3>
                    <form class="filter-search__form">
                        <input placeholder="Search your keyword..." type="text" class="filter-search__input">
                        <button class="filter-search__btn" type="submit">
                            <img src="../img/icons/search-white.svg" alt="icon">
                        </button>
                    </form>
                </div>
                <div class="filter__item filter-price">
                    <h3 class="filter__title">Price Filter</h3>
                    <form class="filter-price__form">
                        <div class="filter-price__slider"></div>
                        <label class="filter-price__label">
                            <div class="filter-price__label-numbers">
                                <span>Price:</span>
                                <span class="skip-value-lower"></span> -
                                <span class="skip-value-upper"></span>
                            </div>
                            <button class="filter-price__button" type="submit">FILTER</button>
                        </label>
                    </form>
                </div>
                <div class="filter__item filter-color">
                    <h3 class="filter__title">Color Filter</h3>
                    <form action="#" class="filter-color__form">
                        <label class="filter-color__label">
                            <span class="filter-color__text">Blue (15)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--blue"></span>
                            </div>
                        </label>
                        <label class="filter-color__label">
                            <span class="filter-color__text">Red (15)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--red"></span>
                            </div>
                        </label>
                        <label class="filter-color__label">
                            <span class="filter-color__text">Green (15)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--green"></span>
                            </div>
                        </label>
                        <label class="filter-color__label">
                            <span class="filter-color__text">Orange (15)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--orange"></span>
                            </div>
                        </label>
                        <label class="filter-color__label">
                            <span class="filter-color__text">Black (15)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--black"></span>
                            </div>
                        </label>
                        <label class="filter-color__label">
                            <span class="filter-color__text">Purple (15)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--purple"></span>
                            </div>
                        </label>
                    </form>
                </div>
                <div class="filter__item filter-size">
                    <h3 class="filter__title">size filter</h3>
                    <form class="filter-size__form">
                        <label class="filter-size__label">
                            <input class="filter-size__input" type="checkbox">
                            <span class="filter-size__checkbox"></span>
                            <span class="filter-size__text">
                                X-small
                            </span>
                        </label>
                        <label class="filter-size__label">
                            <input class="filter-size__input" type="checkbox">
                            <span class="filter-size__checkbox"></span>
                            <span class="filter-size__text">
                                Small
                            </span>
                        </label>
                        <label class="filter-size__label">
                            <input class="filter-size__input" type="checkbox">
                            <span class="filter-size__checkbox"></span>
                            <span class="filter-size__text">
                                Medium
                            </span>
                        </label>
                        <label class="filter-size__label">
                            <input class="filter-size__input" type="checkbox">
                            <span class="filter-size__checkbox"></span>
                            <span class="filter-size__text">
                                Large
                            </span>
                        </label>
                        <label class="filter-size__label">
                            <input class="filter-size__input" type="checkbox">
                            <span class="filter-size__checkbox"></span>
                            <span class="filter-size__text">
                                XXL
                            </span>
                        </label>
                    </form>
                </div>
                <div class="filter__item filter-category">
                    <h3 class="filter__title">category</h3>
                    <form class="filter-category__form">
                        <label class="filter-category__label">
                            <input type="checkbox" class="filter-category__input">
                            <div class="filter-category__checkbox">
                                <span class="filter-category__text">Woman</span>
                                <span class="filter-category__num">48</span>
                            </div>
                        </label>
                        <label class="filter-category__label">
                            <input type="checkbox" class="filter-category__input">
                            <div class="filter-category__checkbox">
                                <span class="filter-category__text">Man</span>
                                <span class="filter-category__num">48</span>
                            </div>
                        </label>
                        <label class="filter-category__label">
                            <input type="checkbox" class="filter-category__input">
                            <div class="filter-category__checkbox">
                                <span class="filter-category__text">Sale Products</span>
                                <span class="filter-category__num">48</span>
                            </div>
                        </label>
                        <label class="filter-category__label">
                            <input type="checkbox" class="filter-category__input">
                            <div class="filter-category__checkbox">
                                <span class="filter-category__text">Fashion</span>
                                <span class="filter-category__num">48</span>
                            </div>
                        </label>
                        <label class="filter-category__label">
                            <input type="checkbox" class="filter-category__input">
                            <div class="filter-category__checkbox">
                                <span class="filter-category__text">Hot Dresses</span>
                                <span class="filter-category__num">48</span>
                            </div>
                        </label>
                        <label class="filter-category__label">
                            <input type="checkbox" class="filter-category__input">
                            <div class="filter-category__checkbox">
                                <span class="filter-category__text">Accessories</span>
                                <span class="filter-category__num">48</span>
                            </div>
                        </label>
                    </form>
                </div>
                <div class="filter__item filter-popular">
                    <h3 class="filter__title">
                        Popular Tags
                    </h3>
                    <form class="filter-popular__form">
                        <label class="filter-popular__label">
                            <input type="checkbox" class="filter-popular__input">
                            <span class="filter-popular__text">Sweetshirt</span>
                        </label>
                        <label class="filter-popular__label">
                            <input type="checkbox" class="filter-popular__input">
                            <span class="filter-popular__text">Man Accessories</span>
                        </label>
                        <label class="filter-popular__label">
                            <input type="checkbox" class="filter-popular__input">
                            <span class="filter-popular__text">Fashion</span>
                        </label>
                        <label class="filter-popular__label">
                            <input type="checkbox" class="filter-popular__input">
                            <span class="filter-popular__text">Polo</span>
                        </label>
                        <label class="filter-popular__label">
                            <input type="checkbox" class="filter-popular__input">
                            <span class="filter-popular__text">T-Shirt</span>
                        </label>
                        <label class="filter-popular__label">
                            <input type="checkbox" class="filter-popular__input">
                            <span class="filter-popular__text">Jewellery</span>
                        </label>
                    </form>
                </div>
            </div>
            <div class="shop__content"></div>
        </div>
    </div>
</section>