<section class="top-slider">
    <div class="container">
        <div class="top-slider__inner">
            <div class="top-slider__item-wrapper">
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h3 class="top-slider__title">
                            New Season
                            New Brand Collection
                        </h3>
                        <p class="top-slider__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                            et dolore magna aliqua. Ipsum.
                        </p>
                        <a href="#" class="top-slider__link">
                            BUY NOW
                        </a>
                    </div>
                    <img src="../img/slider/1.png" alt="image" class="top-slider__img">
                </div>
            </div>
            <div class="top-slider__item-wrapper">
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h3 class="top-slider__title">
                            New Season
                            New Brand Collection
                        </h3>
                        <p class="top-slider__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                            et dolore magna aliqua. Ipsum.
                        </p>
                        <a href="#" class="top-slider__link">
                            BUY NOW
                        </a>
                    </div>
                    <img src="../img/slider/1.png" alt="image" class="top-slider__img">
                </div>
            </div>
            <div class="top-slider__item-wrapper">
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h3 class="top-slider__title">
                            New Season
                            New Brand Collection
                        </h3>
                        <p class="top-slider__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                            et dolore magna aliqua. Ipsum.
                        </p>
                        <a href="#" class="top-slider__link">
                            BUY NOW
                        </a>
                    </div>
                    <img src="../img/slider/1.png" alt="image" class="top-slider__img">
                </div>
            </div>
            <div class="top-slider__item-wrapper">
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h3 class="top-slider__title">
                            New Season
                            New Brand Collection
                        </h3>
                        <p class="top-slider__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                            et dolore magna aliqua. Ipsum.
                        </p>
                        <a href="#" class="top-slider__link">
                            BUY NOW
                        </a>
                    </div>
                    <img src="../img/slider/1.png" alt="image" class="top-slider__img">
                </div>
            </div>
        </div>
    </div>
</section>